<%=form_for [:fallpro, @fallpro] do |f| %>

  <div >
    <%= render 'pre_use_desk', f: f %>
  </div>

<%= f.submit "Save ", name: "inspectionedit", class: "btn covid-button btn-lg btn-block ipad-button", id: 'signature_pad_save' %>
<% end %>