<div class="nested-fields" style="margin-top: 15px;">
	<%= f.text_field :email, class: "form-control" , style: "width: 80%; display: inline-block;" %>
	<%= link_to_remove_association (image_tag "error.png"), f, class: "remove_answer",  data: {confirm: 'Remove email?'} %>
</div>