<div class="container">
      <div class="onsite-header-wrapper">
                <span class="onsite-header">Fall Pro Plan</span></br>
        <span class="onsite-header onsite-small">Section 3: Using the hierarchy of controls, these are the system(s) we will use</span>
      </div>
<%=form_for [:fallpro, @fallpro] do |f| %>

  <div >
    <%= render 'systems_desk', f: f %>
  </div>



<%= f.submit "Save and Submit", name: "systems", class: "btn covid-button btn-lg btn-block ipad-button", id: 'signature_pad_save' %>
<% end %>