<div class="container local-header">
  <%= print_image ('FallProPlanlogo.png') %>
   
  <span>FallProPlan.com was created by the team at We the Safe.</span> 

  <p>The team at We the Safe has been writing site specific fall protection plans for over a decade.  They have also investigated dozens of near misses and actual falls from heights, as well as prepared notices of compliance for dozens of orders written by regulatory bodies in multiple jurisdictions for non compliance when working at heights.</p>

  <p>Not planning is most often the root cause of the falls and near misses.</p>

  <p>We the Safe decided to take what We have learnt and create a simple tool to help a crew ask the important questions and document it for refence and sharing.  FallProPlan.com is the tool.  It is free to everyone and will continue to evolve with the help of everyone and the dedication of the tram at We the Safe.</p>

  <p>We the Safe is dedicated to building and supporting safe effective workplaces – FallProPlan.com is a result of this support.</p>

 </div>
<div class="container">
 <div class="row fallpro-items-row">
  <div class="fallpro-landing-header">
    <span>FallProPlan.com is part of a family of Workplace Safety solutions.  It is powered by:</span>
  </div>
   <div class="col-md-4 fallpro-landing-column fallpro-landing-items">
      <div class="fallpro-landing-column-inner">
        <div class="fallpro-landing-item">
          <%= print_image ('logo-compressor.png') %>
          <ul>
            <li>Distribution of technical
  Safety Products</li>
            <li>Technical Safety Documents
  and Programs</li>
            <li>On Site Consulting</li>
            <li>CAD site and traffic plans</li>
          </ul>
        </div>
        <span>WeTheSafe.com</span>
    </div>
  </div>
    <div class="col-md-4 fallpro-landing-column fallpro-landing-items">
      <div class="fallpro-landing-column-inner">
        <div class="fallpro-landing-item">
          <%= print_image ('FallProTraininglogo.png') %>
          <ul>
            <li>Classroom Safety Education</li>
            <li>Hybrid Fall Protection Training</li>
            <li>Confined Space training</li>
            <li>Supervisor training</li>
          </ul>
        </div>
        <span>FallProtraining.com</span>
    </div>
  </div>
  <div class="col-md-4 fallpro-landing-column fallpro-landing-items">
    <div class="fallpro-landing-column-inner">
      <div class="fallpro-landing-item">
        <%= print_image ('QRSafetylogo.png') %>
        <ul>
            <li>Safety Management System</li>
            <li>Database Management</li>
            <li>QR Code profile systems</li>
            <li>QR Code worker orientations</li>
          </ul>
      </div>
      <span>QRsafety.com</span>
    </div>
  </div>

</div>
