// Place all the styles related to the packages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.modules_container {
	input {
		font-family: "Roboto", sans-serif;
	    outline: 0;
	    background: #f2f2f2;
	    width: auto;
	    border: 0;
	    margin: 0 0 15px;
	    padding: 15px !important;
	    padding-left: 40px;
	    box-sizing: border-box;
	    font-size: 14px;
	}
	.form-control {
		width: 100%;
	}
	.larger_checkbox {
		text-align: left;
		font-size: 25px;
		input {
			width: 20px;
			height: 20px;
		}
	}
}