// Place all the styles related to the papwerworks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#paperwork_critical {
	float: left;
	margin-left: 15px;
	width: 10%;
}

#edit_paperwork_9 div{
	margin: 20px 0;
}