// Place all the styles related to the phsa_tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.task-edit-button {
	margin: 0 !important;
	float: right !important;
}

.task-edit-button:hover {
	border: none !important;
}