// Place all the styles related to the psha_step_hazards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.psha-step-control-chbox {
	font-size: 25px !important;
	border: none !important;
	line-height: 25px !important;
}

.suggested-controls {
	input[type="checkbox"] {
		display: none  !important;
	}
}

.red-bold {
	color: red;
	font-weight: 700;
}