<div id="footer"> 
  <nav class="navbar navbar-expand-sm navbar-light " id="main-footer">
      <div class="container" >
          <% logo_link = "/"  %>
             
        

          <div class="collapse navbar-collapse navbar-toggleable-sm">
              <ul class="navbar-nav">

           

               
              
              </ul>
              
          </div>
          <div class="d-block d-sm-none" >
          	<ul class="navbar-nav footer-small">
              	
               		<li role="presentation" class="nav_item"><%= link_to 'Contact', new_message_path , class: "nav-link"%></li>
              		<li role="presentation" class="nav_item"><%= link_to 'Go Back', :back, class: "nav-link" %></li>
          		</ul>
          	</div>
      </div>
  </nav>
</div>