<div id="top-header" class="et-fixed-header"> 
	<div class="header-container"> 
		<div class="top-wrapper"> 

			<ul> 
		
					<li class="header-phone">
						
						<a href="tel:6042998217"><span class="mif-phone header-icons">(604) 299-8217</span></a>
						<a href="mailto:info@wethesafe.com"><span class="mif-mail header-icons">info@wethesafe.com</span></a> 
				
					</li>
					<li class="header-phone">
						<a href="https://www.facebook.com/We-the-Safe-431101960412359/"> <span class="mif-facebook2 header-icons"></span> </a> 
					</li> 
					<li class="header-phone"> 
						<a href="https://twitter.com/WeTheSafe"> <span class="mif-twitter header-icons"></span> </a> 
					</li> 
					<li class="header-phone"> 
						<a href="https://www.linkedin.com/company/we-the-safe-inc-"> <span class="mif-linkedin header-icons"></span> </a> 
					</li> 
		
				
			</ul> 
		</div>
	</div> 
</div>