  <nav class="navbar navbar-expand-md navbar-light bg-light" id="main-header">
      <div class="container" id="main-header-container">
 
            <%  logo_link = "/" %>
             
          <div class="navbar-header"><%= link_to (print_image ('logo-compressor.png')), logo_link %>
          
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navcol-1" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
          </div>

          <div class="collapse navbar-collapse navbar-toggleable-sm" id="navcol-1">
              <ul class="navbar-nav navbar-right">

              
              </ul>
          </div>
      </div>
  </nav>

  <script>
    $(document).ready(function() {
      // $(".nav a").on("click", function(){
      //    $(".nav").find(".active").removeClass("active");
      //    $(this).parent().addClass("active");
      // });
      });
  </script>